.container .btnLoadMore {
  margin: 0 auto;
}
.btnLoadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 32px;
  height: 56px;
}

.btnLoadMore:hover {
  border: 1px solid #e44848;
}
