.container {
  display: flex;
}
.iconF {
  stroke: black;
  fill: transparent;
  margin-right: 8px;
}
.icon {
  margin-right: 8px;
  stroke: black;
  fill: black;
  
}

.iconS {
  margin-right: 8px;
  fill: black;
}

.iconList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 430px;
}

.iconItem {
display: flex;
justify-content: flex-start;
align-items: center;
border-radius: 100px;
padding: 12px 18px;
background: #f2f4f7;
}


.tabs {
  font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 20px;

line-height: 1.2;
color: #101828;
 
  color: #333;
  position: relative;
  margin-bottom: 44px;
  padding-bottom: 24px;
  border-bottom: solid 1px #101828; 
  width: 902px;
}
.btnFeature {
  margin-right: 40px;
  font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #101828;
}
.btnReviews {
  font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #101828;
}

.tabContent {
  margin-right: 24px;
}
