.header {
  display: flex;
  background-color: #fff;
  padding: 8px 56px;
  margin: 0 auto;
  width: 1440px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 15;
}


.nav {
  /* justify-content: flex-start; */
  display: flex;
  gap: 20px;
  margin: 0;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 16px;
  border-radius: 200px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.active {
  color: white;
  background-color: rgb(60, 170, 255);
}
