.scrollContainer {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-right: 16px;
  height: 1288px;
  position: relative;
}

.btnClose {
  stroke: black;
  fill: black;
  position: absolute;
  top: 0;
  right: 0;
}

.name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
  line-height: 125%;
  color: #101828;
}

.containerImg {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  width: 902px;
}

.camperImg {
  display: flex;
  justify-content: end;
  width: 290px;
  height: 310px;
  object-fit: contain;
}

.imgCar,
.imgCar3 {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  object-fit: cover;
}

.rating {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.ratingSpan {
  text-decoration: underline;
}

.star {
  margin-right: 4px;
}

.map {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.iconMap {
  stroke: black;
  fill: transparent;
  margin-right: 4px;
}

.price {
  margin-bottom: 24px;
}

.icon {
  stroke: black;
  fill: transparent;
}

.addContainer {
  display: flex;
  width: 902px;
  justify-content: space-between;
}

.description {
  display: inline-block;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

