.modalOpen {
  overflow: hidden;
}
/* 
.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
  */
/* .modalContainer {
  position: relative;
  background-color: var(--main-white);
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 40px 0 40px 20px;
  width: 982px;
} */

.btnClose {
  z-index: 20;
  width: 24px;
  height: 24px;
  background-color: inherit;
  position: absolute;
  top: 40px;
  right: 40px;
  stroke: black;
  
}

.btnClose:hover,
.btnClose:focus {
  stroke:  #ffc531;
}


