.container {
  display: flex;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
  margin-bottom: 32px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #101828;
}

.camperImg {
  width: 290px;
  height: 310px;
  margin-right: 24px;
}

.imgCar {
  height: 310px;
  border-radius: 10px;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.priceCont {
  display: flex;
}

.price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.rating {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.ratingSpan {
  text-decoration: underline;
}

.star {
  margin-right: 4px;
}

.map {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.iconMap {
  stroke: black;
  fill: transparent;
  margin-right: 4px;
}

.description {
  max-width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
}

.iconHeart {
  stroke: black;
  fill: transparent;
  margin-left: 10px;
}

.iconF {
  stroke: black;
  fill: transparent;
  margin-right: 8px;
}

.iconS {
  margin-right: 8px;
  fill: black;
}

.iconList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 430px;
  margin-bottom: 24px;
}

.iconItem {
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
}

.btnShowMore {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background: #e44848;
  color: #fff;
}

.btnShowMore:hover,
.btnShowMore:focus {
  background: #d84343;
}

.btnHeart.favorite .iconHeart {
  fill: #d84343;
  stroke: #d84343;
}